{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
<img src="{% static "global/images/OpenDigitalBanner.png" %}"/>
<img src="{% static "global/images/OpenDigitalHL.png" %}"/>
<br>
  Production
<br>
<img src="{% static "global/images/OpenDigitalHL.png" %}"/>
{% endblock %}
{% block content %}

    {% formfield player.units label="How many units will you produce (from 0 to 30)?" %}

    {% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
